/* leaderboard.css */
body {
  font-family: sans-serif;
  margin: 20px;
  padding-right: 10px;
  padding-left: 10px;
  background: #f4f4f4;
}

h1 {
  text-align: center;
}

#map {
  height: 400px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.grid-group {
  margin-bottom: 40px;
}

.grid-title {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

/* Freeze the table header */
table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  position: sticky;
  top: 0;
  background: #fafafa;
  z-index: 2;
  border-bottom: 2px solid #ddd;
}

.table-container {
  max-height: 400px; /* Adjust height as needed */
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #eee;
  overflow-wrap: break-word;
  word-break: break-word;
}

/* Adjust the rest of the styles */
table, th, td {
  font-size: 14px;
  text-align: left;
  padding: 10px;
  word-break: break-word;
}

tbody tr:nth-child(even) {
  background: #f9f9f9;
}

th {
  background: #fafafa;
}

#backButton {
  display: inline-block;
  background: #28a745;
  color: white;
  text-decoration: none;
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
}

#backButton:hover {
  background: #218838;
}
