/* leaderboard.css */


h1 {
  text-align: center;
}


.grid-group {
  margin-bottom: 40px;
}


/* Freeze the table header */
table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  position: sticky;
  top: 0;
  background: #fafafa;
  z-index: 2;
  border-bottom: 2px solid #ddd;
}

.table-container {
  max-height: 400px; /* Adjust height as needed */
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
}

th, td {
  padding: 2px 2px;
  text-align: center;
  border-bottom: 1px solid #eee;
  overflow-wrap: break-word;
  word-break: break-word;
  border: 1px solid #ccc;
}

/* Adjust the rest of the styles */
table, th, td {
  font-size: 12px;
  word-break: break-word;
}

tbody tr:nth-child(even) {
  background: #f9f9f9;
}

th {
  background: #fafafa;
}

#backButton {
  display: inline-block;
  background: #28a745;
  color: white;
  text-decoration: none;
  padding: 5px 5px;
  font-size: 14px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
}

#backButton:hover {
  background: #218838;
}


   html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      font-family: sans-serif;
    }

    #mainContainer {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    #topHalf {
      flex: 1;
      overflow-y: auto;
      padding: 10px;
    }

    #bottomHalf {
      flex: 1;
      padding: 5px 5px 5px 5px; /* top, right, bottom, left */
      box-sizing: border-box;
    }

    #map {
      width: 100%;
      height: 100%;
    }

    #filters {
      text-align: center;
      margin-bottom: 10px;
    }

    h1 {
      text-align: center;
      margin: 10px 0;
    }

    #backButton {
      text-align: center;
      display: inline-block;
      margin-bottom: 10px;
    }